/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: double 5px #2a0808;
    background-color: #ecd26a;
  }
#screenshot {
  width: 500px;
}
#content h1 {
  color: #ffffff;
  text-decoration:overline underline dotted #2a0808;
}

#content h2 {
  color: #2a0808;
}